.App {
  text-align: ;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:500px;
  margin: 70px auto;
  padding: 50px 20px;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gotItem{
  color:red;
  text-decoration: line-through;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.items{
  background-color: #fff;
  text-align: center;
  display: flex;
  padding: 0px;
  margin-left: 5px;
}
button{
 margin:10px;
 border: none;
 
}

body{
  background-color:#f9f9f9;
}

.inputField{
  margin:5px;
  width:90%;
}